In [1]:
import pandas as pd
import numpy as np

In [7]:
df=pd.DataFrame([[2.4,np.nan],[1,2],[np.nan, np.nan],[2,3]],
               index=["a", "b", "c", "d"],
               columns=["one", "two"])
df

   one  two
a  2.4  NaN
b  1.0  2.0
c  NaN  NaN
d  2.0  3.0

In [8]:
df.sum()

one    5.4
two    5.0
dtype: float64

In [12]:
df.sum(axis=1)

a    NaN
b    3.0
c    NaN
d    5.0
dtype: float64

In [10]:
df.mean(axis=1)

a    2.4
b    1.5
c    NaN
d    2.5
dtype: float64

In [13]:
df.mean(axis=1,skipna=False)

a    NaN
b    1.5
c    NaN
d    2.5
dtype: float64

df.mean(axis=1,skipna=False)

In [14]:
df.idxmax()

one    a
two    d
dtype: object

In [16]:
df.cumsum()

   one  two
a  2.4  NaN
b  3.4  2.0
c  NaN  NaN
d  5.4  5.0

In [19]:
#shift +tab to see what the code does

iris=pd.read_csv("iris.data",header=None)
iris.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [21]:
iris.columns=['sepal_length','sepal_width',  'petal_length','petal_width','class']
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [24]:
iris["sepal_length"].corr(iris["sepal_width"])

-0.10936924995064935

In [25]:
iris.corr()

C:\Users\uSer\AppData\Local\Temp\ipykernel_11292\2141086772.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  iris.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.109369      0.871754     0.817954
sepal_width      -0.109369     1.000000     -0.420516    -0.356544
petal_length      0.871754    -0.420516      1.000000     0.962757
petal_width       0.817954    -0.356544      0.962757     1.000000

In [26]:
#covariance
iris.cov()

C:\Users\uSer\AppData\Local\Temp\ipykernel_11292\2460161018.py:2: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  iris.cov()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      0.685694    -0.039268      1.273682     0.516904
sepal_width      -0.039268     0.188004     -0.321713    -0.117981
petal_length      1.273682    -0.321713      3.113179     1.296387
petal_width       0.516904    -0.117981      1.296387     0.582414

In [27]:
s=pd.Series(["b","b","b","b","c","c","a","a","a"])
s

0    b
1    b
2    b
3    b
4    c
5    c
6    a
7    a
8    a
dtype: object

In [28]:
s.unique()

array(['b', 'c', 'a'], dtype=object)

In [31]:
s.value_counts()

b    4
a    3
c    2
dtype: int64

In [35]:
x=s.isin(["b","c"])
x

0     True
1     True
2     True
3     True
4     True
5     True
6    False
7    False
8    False
dtype: bool

In [36]:
s[x]

0    b
1    b
2    b
3    b
4    c
5    c
dtype: object